


<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

<nav class="navbar navbar-light navbar-static-top text-uppercase app-navbar mb-5">
  <div class="container pt-4">
    <div class="navbar-header">
      <button
        class="navbar-toggler hidden-md-up float-right"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation">
      </button>
      <a class="navbar-brand" href="{{site.url}}/index.html">
        <span>Bedoodled</span>
      </a>
    </div>
    <div class="collapse navbar-toggleable-sm" id="navbarResponsive">
      <ul class="nav navbar-nav float-xs-none float-md-right">
        <li class="nav-item ">
          <a class="nav-link " href="{{site.url}}/index.html">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{{site.url}}/portfolio.html">Portfolio</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{site.url}}/blog.html">Blog</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

{{content}}

    <script src="./assets/js/jquery.min.js"></script>
    <script src="./assets/js/tether.min.js"></script>
    <script src="./assets/js/toolkit.js"></script>
    <script src="./assets/js/application.js"></script>
  </body>
</html>

